# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# User-specific files (MonoDevelop/Xamarin Studio)
*.userprefs

# Mono-specific files
*.pidb
*.resources

# Build results - vNext architectures
ipch/
[A-Za-z0-9_]-*.db
[A-Za-z0-9_]-*.opendb

# Visual Studio cache/configuration directories
.vs/
.venvs/

# Visual Studio Code
.vscode/

# NuGet packages
*.nupkg
*.snupkg

# Paket Dependency Manager
.paket/
paket-files/

# JetBrains Rider & ReSharper
_ReSharper.*/
*.resharper
*.sln.iml

# Build results (Zope)
parts/
var/
eggs/
develop-eggs/
lib/
lib64/
slic/
pyvenv/
pip-selfcheck.json

# DotCover
*.dotCover

# NCrunch
*.ncrunch*
*crunch*.local.xml

# Visual Studio Test Explorer
TestResults/

# CodeSmith
*.cst

# F# Interactive
*.fsx.lock

# StyleCop
StyleCop.StyleCop

# Microsoft Fakes
FakesAssemblies/

# GhostDoc
*.GhostDoc.xml

# Emacs
*~
.\#*
.menu
_region_*
*.elc

# Vim
*.swp
*.swo

# OS specific
.DS_Store
Thumbs.db
Desktop.ini
